@using CLAIM.Ressources.FormTexts
@using IAFG.IA.WE.Mvc.Html
@using System.Globalization
@using CLAIM.Helpers
@model CLAIM.Models.AcceleratedBenefit.AcceleratedBenefitModel

@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_ExtranetLayout.cshtml";
    var resources = new ResourcesFormTextsHelper(Model.IsInsured, CultureInfo.CurrentCulture);
}

<script type="text/javascript" src="@Html.BuildImageServerSrc("vi/vimwpnp2/Scripts/CriticalIllness/Summary.js", "~/Scripts/CriticalIllness/Summary.js")"></script>

<script language="javascript">
    we_ProgressBarInit(@(Model.Transmitted ? 5 : 4), 5);

    @(Model.Transmitted ? "HideCultureSelector();" : "")
</script>

<form action="@Url.Action("Summary")" method="post" id="criticalIllnessSummaryForm" class="we_form" style="margin: 20px">
    <div class="we_form" style="margin: 20px">
        <div class="we_form">
            <div>

                @if (Model.Transmitted)
                {
                    <div style="padding-top: 25px;"></div>
                    <div class="we_messagePanel success">
                        <h2>@Resources.Global.ConfirmationTitre</h2>
                        <p><strong>@UI.Text_ClaimReception_DMGPA</strong></p>
                        @if ((bool)TempData["IsAgent"] || (bool)TempData["IsInsurancePolicyOwner"])
                        {
                            <p>@Html.Raw(UI.Text_TrackingEmailSent_MGPA)</p>
                        }
                        else
                        {
                            <p>@Html.Raw(UI_Representative.Text_TrackingEmailSent_MGPA)</p>
                        }
                    </div>
                }

                <h1>
                    <b>@UI.Header_Confirmation_AcceleratedBenefit</b>
                    @if (Model.Transmitted)
                    {
                        <a onclick="window.print(); return false;" class="btn" style="padding-left:5px;float: right;"><span class='font-icons'>&#xe03d;</span>&nbsp;@Resources.Global.BoutonImprimer</a>
                    }
                </h1>

                <div class="row">
                    <div class="columns small-12 summarySection">
                        @Html.DisplayFor(m => m.InitializeAccelerated, new { ControllerName = "AcceleratedBenefit" })
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-12 summarySection">
                        @Html.DisplayFor(m => m.AboutInsured, new { IsInsured = Model.IsInsured, InsuredFirstName = Model.InsuredFirstName })
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-12 summarySection">
                        @Html.DisplayFor(m => m.AboutBenefit, new { IsInsured = Model.IsInsured, InsuredFirstName = Model.InsuredFirstName, IsTransmitted = Model.Transmitted })
                    </div>
                </div>
                <div class="gridLayout" style="margin-top: 50px;">
                    <h1><b>@UI.Header_Declaration</b></h1>
                    <div class="row @(Model.Transmitted ? string.Empty : "optionHL" )">
                        <div class="columns small-1 summarySection">
                            <input type="checkbox" name="chkConfirmation" id="chkConfirmation" @(Model.Transmitted ? "checked disabled" : string.Empty) />
                        </div>
                        <div class="columns small-11 summarySection">@UI.Text_Declaration</div>
                        @Html.ValidationMessage("chkConfirmation", @ErrorMessages.Missing_Confirmation, new { @class = "text error", id = "valSummary" })
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/_ButtonList.cshtml", Model.NavigationButtons, Html.ViewData)
    </div>
</form>

